<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeJs" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.js" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="PATCH" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
          <add verb="HEAD" allowed="true" />
        </verbs>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>

    <iisnode
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="200"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="false"
      flushResponse="true"
      enableXFF="true"
      promoteServerVars="HTTP_X_FORWARDED_FOR,HTTP_X_FORWARDED_PROTO"
    />

    <httpErrors errorMode="Detailed" />

  </system.webServer>
</configuration>
